--
-- PostgreSQL database dump
--

\restrict etICtY9YyobV25wxGNcvzyow7elNUW37asRY08cCI9AxK5H7mTBTa7l1fYtmvL3

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg12+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: plan_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.plan_type AS ENUM (
    'Free',
    'Pro',
    'Legal+'
);


ALTER TYPE public.plan_type OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: act_relation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.act_relation (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    from_act uuid NOT NULL,
    to_act uuid NOT NULL,
    relation text NOT NULL,
    note text,
    CONSTRAINT act_relation_relation_check CHECK ((relation = ANY (ARRAY['modifie'::text, 'abroge'::text, 'complete'::text, 'remplace'::text])))
);


ALTER TABLE public.act_relation OWNER TO postgres;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(128) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: article; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.article (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    document_id uuid NOT NULL,
    number text NOT NULL,
    "position" integer NOT NULL
);


ALTER TABLE public.article OWNER TO postgres;

--
-- Name: article_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.article_version (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    article_id uuid NOT NULL,
    lang text NOT NULL,
    text_plain text NOT NULL,
    text_html text,
    effective_from date NOT NULL,
    effective_to date,
    change_type text NOT NULL,
    source_act uuid,
    jort_issue_id uuid,
    sha256 bytea,
    is_current boolean GENERATED ALWAYS AS ((effective_to IS NULL)) STORED,
    embedding bytea,
    CONSTRAINT article_version_change_type_check CHECK ((change_type = ANY (ARRAY['creation'::text, 'modification'::text, 'abrogation'::text])))
);


ALTER TABLE public.article_version OWNER TO postgres;

--
-- Name: case_law; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.case_law (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    court text NOT NULL,
    chamber text,
    case_number text,
    decision_date date NOT NULL,
    title text,
    jort_issue_id uuid,
    pdf_url text,
    sha256 bytea
);


ALTER TABLE public.case_law OWNER TO postgres;

--
-- Name: conversations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.conversations (
    id integer NOT NULL,
    session_id character varying(255),
    role character varying(50),
    message_user text,
    message_konan text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.conversations OWNER TO postgres;

--
-- Name: conversations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.conversations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.conversations_id_seq OWNER TO postgres;

--
-- Name: conversations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.conversations_id_seq OWNED BY public.conversations.id;


--
-- Name: cross_reference; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cross_reference (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    from_article uuid NOT NULL,
    to_document uuid,
    to_article uuid,
    anchor_text text NOT NULL,
    norm_target text
);


ALTER TABLE public.cross_reference OWNER TO postgres;

--
-- Name: jort_issue; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jort_issue (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    series text NOT NULL,
    number integer NOT NULL,
    publication_date date NOT NULL,
    pdf_url text NOT NULL,
    page_start integer,
    page_end integer,
    sha256 bytea,
    source_url text NOT NULL
);


ALTER TABLE public.jort_issue OWNER TO postgres;

--
-- Name: legal_document; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.legal_document (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    doc_type text NOT NULL,
    official_number text,
    title text NOT NULL,
    promulgation_date date,
    issuer uuid,
    jort_issue_id uuid,
    jort_page_start integer,
    jort_page_end integer,
    status text NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT legal_document_status_check CHECK ((status = ANY (ARRAY['en_vigueur'::text, 'abroge'::text, 'modifie'::text, 'caduc'::text, 'transitoire'::text])))
);


ALTER TABLE public.legal_document OWNER TO postgres;

--
-- Name: current_articles_v; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.current_articles_v AS
 SELECT av.id AS article_version_id,
    a.id AS article_id,
    ld.id AS document_id,
    ld.title,
    a.number AS article_number,
    av.lang,
    av.text_plain,
    ji.number AS jort_number,
    ji.publication_date AS jort_date,
    ld.doc_type,
    ld.status
   FROM (((public.article_version av
     JOIN public.article a ON ((a.id = av.article_id)))
     JOIN public.legal_document ld ON ((ld.id = a.document_id)))
     LEFT JOIN public.jort_issue ji ON ((ji.id = av.jort_issue_id)))
  WHERE (av.is_current = true);


ALTER VIEW public.current_articles_v OWNER TO postgres;

--
-- Name: institution; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.institution (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name text NOT NULL,
    kind text NOT NULL
);


ALTER TABLE public.institution OWNER TO postgres;

--
-- Name: law_diff_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.law_diff_log (
    id integer NOT NULL,
    validator character varying(100) NOT NULL,
    added_count integer,
    removed_count integer,
    diff_json text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.law_diff_log OWNER TO postgres;

--
-- Name: law_diff_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.law_diff_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.law_diff_log_id_seq OWNER TO postgres;

--
-- Name: law_diff_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.law_diff_log_id_seq OWNED BY public.law_diff_log.id;


--
-- Name: ref_doc_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ref_doc_type (
    code text NOT NULL,
    label text NOT NULL
);


ALTER TABLE public.ref_doc_type OWNER TO postgres;

--
-- Name: ref_language; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ref_language (
    code text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.ref_language OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying NOT NULL,
    hashed_password character varying NOT NULL,
    full_name character varying,
    plan public.plan_type DEFAULT 'Free'::public.plan_type,
    is_active boolean,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: conversations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations ALTER COLUMN id SET DEFAULT nextval('public.conversations_id_seq'::regclass);


--
-- Name: law_diff_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.law_diff_log ALTER COLUMN id SET DEFAULT nextval('public.law_diff_log_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: act_relation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.act_relation (id, from_act, to_act, relation, note) FROM stdin;
\.


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
merge_heads_after_fix
\.


--
-- Data for Name: article; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.article (id, document_id, number, "position") FROM stdin;
\.


--
-- Data for Name: article_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.article_version (id, article_id, lang, text_plain, text_html, effective_from, effective_to, change_type, source_act, jort_issue_id, sha256, embedding) FROM stdin;
\.


--
-- Data for Name: case_law; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.case_law (id, court, chamber, case_number, decision_date, title, jort_issue_id, pdf_url, sha256) FROM stdin;
\.


--
-- Data for Name: conversations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cross_reference; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cross_reference (id, from_article, to_document, to_article, anchor_text, norm_target) FROM stdin;
\.


--
-- Data for Name: institution; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.institution (id, name, kind) FROM stdin;
\.


--
-- Data for Name: jort_issue; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jort_issue (id, series, number, publication_date, pdf_url, page_start, page_end, sha256, source_url) FROM stdin;
\.


--
-- Data for Name: law_diff_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.law_diff_log (id, validator, added_count, removed_count, diff_json, created_at) FROM stdin;
\.


--
-- Data for Name: legal_document; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.legal_document (id, doc_type, official_number, title, promulgation_date, issuer, jort_issue_id, jort_page_start, jort_page_end, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: ref_doc_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ref_doc_type (code, label) FROM stdin;
constitution	Constitution
loi	Loi
loi_organique	Loi organique
decret	D├®cret
decret_loi	D├®cret-loi
arrete	Arr├¬t├®
circulaire	Circulaire
code	Code
jurisprudence	Jurisprudence
\.


--
-- Data for Name: ref_language; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ref_language (code, name) FROM stdin;
ar	Arabe
fr	Fran├ºais
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, hashed_password, full_name, plan, is_active, created_at) FROM stdin;
\.


--
-- Name: conversations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.conversations_id_seq', 6, true);


--
-- Name: law_diff_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.law_diff_log_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: act_relation act_relation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.act_relation
    ADD CONSTRAINT act_relation_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: article article_document_id_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.article
    ADD CONSTRAINT article_document_id_number_key UNIQUE (document_id, number);


--
-- Name: article article_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.article
    ADD CONSTRAINT article_pkey PRIMARY KEY (id);


--
-- Name: article_version article_version_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.article_version
    ADD CONSTRAINT article_version_pkey PRIMARY KEY (id);


--
-- Name: case_law case_law_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.case_law
    ADD CONSTRAINT case_law_pkey PRIMARY KEY (id);


--
-- Name: conversations conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_pkey PRIMARY KEY (id);


--
-- Name: cross_reference cross_reference_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cross_reference
    ADD CONSTRAINT cross_reference_pkey PRIMARY KEY (id);


--
-- Name: institution institution_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.institution
    ADD CONSTRAINT institution_pkey PRIMARY KEY (id);


--
-- Name: jort_issue jort_issue_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jort_issue
    ADD CONSTRAINT jort_issue_pkey PRIMARY KEY (id);


--
-- Name: jort_issue jort_issue_series_number_publication_date_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jort_issue
    ADD CONSTRAINT jort_issue_series_number_publication_date_key UNIQUE (series, number, publication_date);


--
-- Name: law_diff_log law_diff_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.law_diff_log
    ADD CONSTRAINT law_diff_log_pkey PRIMARY KEY (id);


--
-- Name: legal_document legal_document_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.legal_document
    ADD CONSTRAINT legal_document_pkey PRIMARY KEY (id);


--
-- Name: ref_doc_type ref_doc_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_doc_type
    ADD CONSTRAINT ref_doc_type_pkey PRIMARY KEY (code);


--
-- Name: ref_language ref_language_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ref_language
    ADD CONSTRAINT ref_language_pkey PRIMARY KEY (code);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_av_current; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_av_current ON public.article_version USING btree (is_current);


--
-- Name: idx_av_doc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_av_doc ON public.article_version USING btree (article_id);


--
-- Name: idx_av_trgm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_av_trgm ON public.article_version USING gin (text_plain public.gin_trgm_ops);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: act_relation act_relation_from_act_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.act_relation
    ADD CONSTRAINT act_relation_from_act_fkey FOREIGN KEY (from_act) REFERENCES public.legal_document(id) ON DELETE CASCADE;


--
-- Name: act_relation act_relation_to_act_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.act_relation
    ADD CONSTRAINT act_relation_to_act_fkey FOREIGN KEY (to_act) REFERENCES public.legal_document(id) ON DELETE CASCADE;


--
-- Name: article article_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.article
    ADD CONSTRAINT article_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.legal_document(id) ON DELETE CASCADE;


--
-- Name: article_version article_version_article_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.article_version
    ADD CONSTRAINT article_version_article_id_fkey FOREIGN KEY (article_id) REFERENCES public.article(id) ON DELETE CASCADE;


--
-- Name: article_version article_version_jort_issue_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.article_version
    ADD CONSTRAINT article_version_jort_issue_id_fkey FOREIGN KEY (jort_issue_id) REFERENCES public.jort_issue(id);


--
-- Name: article_version article_version_lang_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.article_version
    ADD CONSTRAINT article_version_lang_fkey FOREIGN KEY (lang) REFERENCES public.ref_language(code);


--
-- Name: article_version article_version_source_act_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.article_version
    ADD CONSTRAINT article_version_source_act_fkey FOREIGN KEY (source_act) REFERENCES public.legal_document(id);


--
-- Name: case_law case_law_jort_issue_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.case_law
    ADD CONSTRAINT case_law_jort_issue_id_fkey FOREIGN KEY (jort_issue_id) REFERENCES public.jort_issue(id);


--
-- Name: cross_reference cross_reference_from_article_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cross_reference
    ADD CONSTRAINT cross_reference_from_article_fkey FOREIGN KEY (from_article) REFERENCES public.article(id) ON DELETE CASCADE;


--
-- Name: cross_reference cross_reference_to_article_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cross_reference
    ADD CONSTRAINT cross_reference_to_article_fkey FOREIGN KEY (to_article) REFERENCES public.article(id);


--
-- Name: cross_reference cross_reference_to_document_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cross_reference
    ADD CONSTRAINT cross_reference_to_document_fkey FOREIGN KEY (to_document) REFERENCES public.legal_document(id);


--
-- Name: legal_document legal_document_doc_type_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.legal_document
    ADD CONSTRAINT legal_document_doc_type_fkey FOREIGN KEY (doc_type) REFERENCES public.ref_doc_type(code);


--
-- Name: legal_document legal_document_issuer_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.legal_document
    ADD CONSTRAINT legal_document_issuer_fkey FOREIGN KEY (issuer) REFERENCES public.institution(id);


--
-- Name: legal_document legal_document_jort_issue_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.legal_document
    ADD CONSTRAINT legal_document_jort_issue_id_fkey FOREIGN KEY (jort_issue_id) REFERENCES public.jort_issue(id);


--
-- PostgreSQL database dump complete
--

\unrestrict etICtY9YyobV25wxGNcvzyow7elNUW37asRY08cCI9AxK5H7mTBTa7l1fYtmvL3

